/* BOX SIZING */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* TYPOGRAPHY */
body {
    font-family: 'Poppins', sans-serif;
}

.title {
    text-transform: uppercase;
}

.title h2 {
    font-size: 22px;
    padding: 5% 0;
    margin: 0;
}

#author {
    font-size: 30px;
    text-shadow: 1px 1px #F08700;
    text-transform: uppercase;
}

#job {
    font-size: 20px;
}

.random-btn {
    text-transform: uppercase;
}

/* LAYOUT */

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
}

main {
    display: grid;
    height: 100%;
    place-items: center;
    width: 100%;
}

.container {
    overflow: hidden;
    width: 75%;
}

/* CONTENT */
body {
    background-color: #BBDEF0;
}

.container {
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px #262626;
}

.container,
.review,
.button-container {
    background-color: #FFF;
}

.title {
    background-color: #F08700;
    color: #FFF;
    text-align: center;
}

.review {
    height: 100%;
    padding: 5%;
    text-align: center;
    width: 100%;
}

.img-container {
    width: 100%;
}

.img-container img {
    border-radius: 50%;
    box-shadow: 1px 1px 4px 2px #262626;
    height: 50%;
    transition: 0.5s;
    width: 50%;
}

.img-container img:hover {
    transform: scale(1.05);
}

.review h4,
.review p {
    margin: 0;
}

#author {
    padding-top: 5%;
}

#info {
    line-height: 1.25;
    padding: 5% 1% 0 1%;
    text-align: justify;
}

.button-container {
    background-color: #F08700;
    display: flex;
    padding: 3% 25%;
}

.prev-btn,
.next-btn {
    border: 0;
    border-radius: 4px;
    font-size: 20px;
    padding: 1% 5%;
    margin: 0 2%;
}

.random-btn {
    border: 0;
    border-radius: 4px;
    display: block;
    margin-left: auto;
}

.button-container button {
    cursor: pointer;
}

.button-container button:hover {
    background-color: #FFF;
}

/* MEDIA QUERIES */
@media (min-width: 500px) {
    .container {
        width: 60%;
    }
}

@media (min-width: 700px) {
    .container {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .container {
        width: 35%;
    }
}